body {
  /*padding: 50px;*/
  font-family: Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*h1, h2, h3, h4, h5 {
  line-height: 0;
}*/

h3 {
    font-size: 18.7px;
    font-weight:bold;
}

.wallet-card {
    border-radius: 30px;
    background-image: linear-gradient(-45deg, rgba(23, 163, 53, 0), #c2d015), url("images/bg-card.png");
    background-color: #17A335;
    background-repeat: no-repeat;
    background-position: center right;
    width: 500px;
    height: 315px;
    color: #ffffff;
    box-shadow: none;
    transition: 0.3s;
    margin-bottom: 15px;
    margin-left: 50px;
}
.wallet-card .wallet-card-body {
  padding: 30px 40px;
}

.wallet-card .wallet-card-body .balance {
    line-height: 0;
    font-weight: bold !important;
    font-size: 3em;
    margin-bottom: 70px;
    margin-top: 25px;
}

.wallet-card .wallet-card-body p small {
    font-size: 14pt;
    font-weight: bold;
}

.wallet-card .wallet-card-body .text-muted {
    color: #ddd !important;
    font-size: 13px;
}
/*.wallet-card .wallet-card-body .float-left {
  float: left;
}
.wallet-card .wallet-card-body .float-right {
  float: right;
}*/
.wallet-card .wallet-card-body .info-block {
  margin-top: 30px;
  text-transform:uppercase;
}
    .wallet-card .stripe {
        /*top: 55%;*/
        left: 0;
        right: 0;
        background-color: #000;
        padding: 15px;
        bottom: -272%;
    }
.wallet-card .stripe .cvv {
  text-align: right;
  padding: 10px;
  color: #000;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  float: right;
  margin-right: 50px;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.wallet-card:hover {
  box-shadow: 0px 20px 20px rgba(12, 117, 0, 0.3);
  transform: scale(1.03, 1.03);
}

.clearfix {
  clear: both;
}


.text-right {
  text-align: right;
}

.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    perspective: 1000px;
}
.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    margin-left: -40px;
    margin-right: -40px;
    /*position: absolute;*/
    top: 0;
}

.wallet-card-back-body {
    padding: 30px 40px;
}

 .rotate-card-front {
    transform: rotateY(-180deg);
    display:none;
}

 .rotate-card-back {
    transform: rotateY(0deg);
   
}

.card-category-row {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}


.wallet-card-gift {
    border-radius: 30px;
    background-image: linear-gradient(-45deg, rgba(82, 0, 190, 0), #ff37d0), url("images/bg-card.png");
    background-color: #5200BE;
    background-repeat: no-repeat;
    background-position: center right;
    width: 500px;
    height: 315px;
    color: #ffffff;
    box-shadow: none;
    transition: 0.3s;
    margin-left: 50px;
    margin-bottom: 15px;
}

.wallet-card-gift:hover {
    box-shadow: 0px 20px 20px rgba(12, 117, 0, 0.3);
    transform: scale(1.03, 1.03);
}

.wallet-card-gift .wallet-card-body {
    padding: 30px 40px;
}

.wallet-card-gift .wallet-card-body .balance {
    line-height: 0;
    font-weight: bold !important;
    font-size: 3em;
    margin-bottom: 70px;
    margin-top: 25px;
}

.wallet-card-gift .wallet-card-body p small {
    font-size: 14pt;
    font-weight: bold;
}

.wallet-card-gift .wallet-card-body .text-muted {
    color: #ddd !important;
    font-size: 13px;
}

/*.wallet-card-gift .wallet-card-body .float-left {
    float: left;
}

.wallet-card-gift .wallet-card-body .float-right {
    float: right;
}*/

.wallet-card-gift .wallet-card-body .info-block {
    margin-top: 0px;
}

.wallet-card-gift .wallet-card-body img.gift-ribbon {
    top: 180px;
    left: 0;
    right: 0;
    width: 500px;
}

.wallet-card-gift .stripe {
    top: 55%;
    left: 0;
    right: 0;
    background-color: #000;
    padding: 15px;
}

.wallet-card-gift .stripe .cvv {
    text-align: right;
    padding: 10px;
    color: #000;
    background-color: #fff;
    display: inline-block;
    border-radius: 5px;
    float: right;
    margin-right: 50px;
}

