@model ewallet.shared.Models.AgentCommon
@{
    ViewBag.Title = "ViewUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@Html.AntiForgeryToken()
<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class=""> </i> <span class="font-weight-semibold"></span>  Users </h4>
            <a href="~/Admin/Agent/" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none py-0 mb-3 mb-md-0">
            <div class="breadcrumb">
                <a href="~/Agent/Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Index</a>
                <span class="breadcrumb-item active">@Html.Raw(ViewData["Title"])</span>
            </div>
        </div>
    </div>
</div>

<div class="container" listing-container>
    @Html.Raw(ViewData["grid"].ToString())
 
</div>
<script>
    $('.icon-lock2').parent().on('click', function e() {
        /*debugger*/;
        let i = $(this).attr("data-val");
        let ii = $(this).attr("data-val1");
        let tId = $(this).closest("tr").attr("id");
        jsonData = "{" +
            "__RequestVerificationToken: '" + $('input[name="__RequestVerificationToken"]').val() + "'," +
            "userid:'" + i + "'," + "agentid:'" + ii + "'}";
        var funcText = "CallAjaxDbResponse(" + jsonData + ",'/Admin/Agent/BlockUser','POST',true,'window.location.reload();')";
        showConfirmationModal("Are you sure you want to Block this user?", funcText);
    })
    $('.icon-unlocked2').parent().on('click', function e() {
        /*debugger*/;
        let i = $(this).attr("data-val");
        let ii = $(this).attr("data-val1");
        let tId = $(this).closest("tr").attr("id");
        jsonData = "{" +
            "__RequestVerificationToken: '" + $('input[name="__RequestVerificationToken"]').val() + "'," +
            "userid:'" + i + "'," + "agentid:'" + ii + "'}";
        var funcText = "CallAjaxDbResponse(" + jsonData + ",'/Admin/Agent/UnBlockUser','POST',true,'window.location.reload();')";
        showConfirmationModal("Are you sure you want to Un-Block this user?", funcText);
    })
</script>


