@model ewallet.application.Models.WalletUserInfoModel
@{
    ViewBag.Title = "User List";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

@*@{var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("Client/ClientUser/UserList", "User List",ControllerDisplayName:"Client Management");}
@section BreadCum{
    <style>
        .pull-right {
            float: right;
            margin-left: auto;
        }
    </style>
    @Html.Raw(BreadCum)
}*@
<div class="page-header">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Client Management</span> - @Html.Raw(ViewData["Title"])</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none py-0 mb-3 mb-md-0">
                <div class="breadcrumb">
                    <a href="~/Client/Home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <span class="breadcrumb-item active">@Html.Raw(ViewData["Title"])</span>
                </div>
            </div>
        </div>
    </div>
<div class="container" listing-container>
    @Html.Raw(ViewData["grid"].ToString())
</div>

<script>
    $('.icon-lock2').parent().on('click', function e() {
        /*debugger*/;
        var agentId = $(this).attr("data-val");
        var status = $(this).attr("data-val1");
        var userId = $(this).attr("data-val2");
        jsonData = "{" +
            "__RequestVerificationToken: '" + $('input[name="__RequestVerificationToken"]').val() + "'," +
            "agentid:'" + agentId + "'," + "userid:'" + userId + "'," + "status:'" + status + "'}";
        var funcText = "CallAjaxDbResponse(" + jsonData + ",'/Client/ClientUser/UserStatusChange','POST',true,'window.location.reload();')";
        showConfirmationModal("Are you sure you want to Deactivate User?", funcText);
    });
    $('.icon-unlocked2').parent().on('click', function e() {
        /*debugger*/;
        var agentId = $(this).attr("data-val");
        var status = $(this).attr("data-val1");
        var userId = $(this).attr("data-val2");
        jsonData = "{" +
            "__RequestVerificationToken: '" + $('input[name="__RequestVerificationToken"]').val() + "'," +
            "agentid:'" + agentId + "'," + "userid:'" + userId + "'," + "status:'" + status + "'}";
        var funcText = "CallAjaxDbResponse(" + jsonData + ",'/Client/ClientUser/UserStatusChange','POST',true,'window.location.reload();')";
        showConfirmationModal("Are you sure you want to Activate User?", funcText);
    });
</script>

