
@{
    ViewBag.Title = "GatewayBalanceDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Services</span> - @Html.Raw(ViewData["Title"])</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none py-0 mb-3 mb-md-0">
            <div class="breadcrumb">
                <a href="~/Admin/Home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">@Html.Raw(ViewData["Title"])</span>
            </div>
        </div>
    </div>
</div>
<div class="container" listing-container>
    @Html.Raw(ViewData["grid"].ToString())

</div>

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <form id="form">

                        @Html.Partial("ManageGatewayBalance")
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showpopupmodel(Gatewayid) {
            var url = "/Admin/Gateway/ManageGatewayBalance?GatewayID=" + Gatewayid;
            $("#ModalTitle").html("Add Gateway Balance");
            $("#MyModal").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#Gatewayid").val(obj.Gatewayid);
                    $("#GatewayName").val(obj.GatewayName);
                    $("#GatewayStatus").val(obj.GatewayStatus);
                    $("#GatewayCurrency").val(obj.GatewayCurrency);
                    $("#AvaliableBalance").val(obj.AvaliableBalance);


                }
            })
        }
        $("#AddGatewayBalance").click(function () {
            var data = $("#SubmitForm").serialize();
            data+= "& __RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val()

            $.ajax({
                type: "Post",
                url: "/Admin/Gateway/ManageGatewayBalance",
                data:data,
                success: function (result) {
                    window.location.href = "/admin/gateway/GatewayBalanceDetail";

                }
            })
        })
    </script>

